.name-col{
    margin: auto;
}

.post-col{
    margin: auto;
    padding-left: 71px;
}

.button-col{
    margin: auto;
    padding-left:136px
}

.comment-col{
    padding-left: 100px;
}

.button-message{
    padding-left: 15px;
    margin-left: 100px;
}

